.Header {
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
    padding: 15px 0;
    border-radius: 20px;
    position: sticky;
    top: 20px;
    left: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.Header a {
    text-decoration: none;
    color: #5E5D5D;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.Header a:hover {
    color: #756200;
    transition-duration: 0.1s;
}