.items-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 100px auto;
}

@media (max-width: 768px) {
    .items-projects {
        grid-template-columns: 1fr;
    }
}

.img-project {
    width: 100%;
}

.img-project img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.data-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tecnologies-project {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tecnology,
.test {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
    background-color: #dca500;
    border: 2px solid #765900;
    transition: all 0.2s ease-in-out;
}

.test a {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.test-project {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.test:hover {
    background-color: rgb(165, 137, 0);
    border-color: black;
}

.test:hover a {
    color: #ffffff;
}