html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(254, 227, 157, 0.14), rgba(255, 255, 255, 0.9));
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1000px;
}